.selected{
  background: lightgray;
  font-size: 1.1em;
}
.updateButton{
  margin-left: 40px;
}
.note-container{
  padding-left: 40px;
}
.noteInput{
  margin-left: 20px;
}
.oneNote{
  padding: 1em;
  border-radius: 0.5em;
}
